.menu {
  text-align: center;
  margin-top: 30px;
}

.menu h2 {
  color: rgb(149, 24, 24);
  font-size: 32px;
  margin-bottom: 80px;
}

.pizza-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px; 
  padding: 20px;
}

.pizza {
  width: 100%;
  margin-bottom: 30px;
}

.pizza img {
  width: 200px;
  border-radius: 10px;
}

.pizza:hover {
  transform: scale(1.05);
}

.footer {
  text-align: center;
  margin-top: 50px;
}